@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
form {
  @apply bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4;
}

label {
  @apply block text-gray-700 text-sm font-bold mb-2;
}

input {
  @apply shadow appearance-none border hover:border-red-300 rounded w-full py-2 px-3 text-gray-700 leading-tight;
}

input[type='submit'] {
  @apply mt-6 bg-red-600 hover:bg-red-800 text-white font-bold py-2 px-4 rounded;
}
body {
  margin: 1rem;
  border: 1px black solid;
  background: rgb(255,229,229);
  background: linear-gradient(90deg, rgba(255,229,229,1) 0%, rgba(255,255,255,1) 23%, rgba(255,224,224,1) 100%);
}
header{
  display:flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
  font-family:'Courier New', Courier, monospace;
}

footer{
  display:flex;
  flex-direction: column;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
}
header div{
  margin-top: 40px;
}